* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: #090909;
    font-size: 1.2rem;
}

:link {
    text-decoration: none;
}

.container {
    height: 820px;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    margin: 40px 0 40px 0;
    font-size: 2rem;
}

.trains {
    display: block;
    background-color: #7663ba;
    margin: 10px 200px 10px 200px;
    padding: 5px;
}

.trains:hover {
    background-color: #7158cc;
    transform: scale(1.02);
}